<a href="https://colab.research.google.com/github/El-nonny/Hamoye-Internship/blob/main/stage_one_tag_along.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HAMOYE INTERNSHIP FOR DATA SCIENCE STAGE A

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
food_sheet = '/content/FoodBalanceSheets_E_Africa_NOFLAG.csv'

In [3]:
food_bal_sheet = pd.read_csv(food_sheet, encoding='ISO-8859-1')

In [4]:
food_bal_sheet.head(10)

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28
5          4  Algeria       2903  ...   2941.00   2921.00   2932.00
6          4  Algeria       2903  ...     67.37     66.11     67.10
7          4  Algeria       2903  ...     52.04     55.59     54.57
8          4  Algeria       2941  ...    431.00    421.00    390.00
9          4  Algeria       2941  ...     27.35     26.71     24.73

[10 rows x 12 columns]

In [5]:
food_bal_sheet.groupby('Item').sum()

                     Area Code  Item Code  ...      Y2017      Y2018
Item                                       ...
Alcohol, Non-Food        38447     752497  ...    2348.00    2293.00
Alcoholic Beverages      75016    1649136  ...   95581.06   97847.27
Animal Products          18060     397035  ...   11547.65   11578.61
Animal fats              85279    1882494  ...  269617.53  269648.27
Apples and products      69280    1352989  ...   10198.90    9640.51
...                        ...        ...  ...        ...        ...
Vegetables, Other        77779    1518715  ...  157752.59  163987.21
Vegetal Products         18060     391905  ...  107655.20  107775.39
Wheat and products       87073    1639683  ...  240047.62  242645.19
Wine                     66206    1319535  ...    4178.02    4039.32
Yams                     50798     970905  ...  229174.59  221272.09

[119 rows x 8 columns]

In [6]:
food_bal_sheet['Y2015'].mean()

135.23596649549236

In [7]:
food_bal_sheet['Y2015'].std()

1603.4039839423301

In [8]:
food_bal_sheet['Y2016'].sum()

8112472.649999999

In [9]:
food_bal_sheet.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [10]:
food_bal_sheet.groupby('Element').sum()

                                        Area Code  ...       Y2018
Element                                            ...
Domestic supply quantity                   708993  ...  2161192.10
Export Quantity                            599910  ...   181594.80
Fat supply quantity (g/capita/day)         675050  ...    10258.69
Feed                                       176272  ...   233489.68
Food                                       663295  ...  1303841.28
Food supply (kcal/capita/day)              674057  ...   455261.00
Food supply quantity (kg/capita/yr)        658446  ...    49056.85
Import Quantity                            688174  ...   287997.09
Losses                                     274353  ...   163902.00
Other uses (non-food)                      235554  ...    91300.97
Processing                                 271940  ...   308429.00
Production                                 526751  ...  2075072.89
Protein supply quantity (g/capita/day)     675050  ...    11833.56
Residuals                                  623271  ...    34864.00
Seed                                       103537  ...    25263.14
Stock Variation                            571566  ...    20577.91
Total Population - Both sexes                6020  ...  1140605.00
Tourist consumption                         50308  ...       90.00

[18 rows x 8 columns]

In [11]:
 data = food_bal_sheet[['Y2018','Element']]

In [12]:
data

          Y2018                                 Element
0      42228.00           Total Population - Both sexes
1          0.00                Domestic supply quantity
2       3322.00           Food supply (kcal/capita/day)
3         91.83  Protein supply quantity (g/capita/day)
4         77.28      Fat supply quantity (g/capita/day)
...         ...                                     ...
60938     16.00                                    Food
60939      1.08     Food supply quantity (kg/capita/yr)
60940      1.00           Food supply (kcal/capita/day)
60941      0.04  Protein supply quantity (g/capita/day)
60942      0.01      Fat supply quantity (g/capita/day)

[60943 rows x 2 columns]

In [13]:
data.groupby('Element').count()

                                        Y2018
Element
Domestic supply quantity                 5256
Export Quantity                          3646
Fat supply quantity (g/capita/day)       4987
Feed                                     1225
Food                                     4913
Food supply (kcal/capita/day)            4969
Food supply quantity (kg/capita/yr)      4877
Import Quantity                          4945
Losses                                   2008
Other uses (non-food)                    1655
Processing                               2003
Production                               3846
Protein supply quantity (g/capita/day)   4986
Residuals                                4616
Seed                                      758
Stock Variation                          4217
Total Population - Both sexes              45
Tourist consumption                       555

In [14]:
data1 = food_bal_sheet[['Element','Area', 'Y2018']]

In [15]:
data1.head(10)

                                  Element     Area     Y2018
0           Total Population - Both sexes  Algeria  42228.00
1                Domestic supply quantity  Algeria      0.00
2           Food supply (kcal/capita/day)  Algeria   3322.00
3  Protein supply quantity (g/capita/day)  Algeria     91.83
4      Fat supply quantity (g/capita/day)  Algeria     77.28
5           Food supply (kcal/capita/day)  Algeria   2932.00
6  Protein supply quantity (g/capita/day)  Algeria     67.10
7      Fat supply quantity (g/capita/day)  Algeria     54.57
8           Food supply (kcal/capita/day)  Algeria    390.00
9  Protein supply quantity (g/capita/day)  Algeria     24.73

In [16]:
data2 = data1.set_index('Area')

In [17]:
data2

                                         Element     Y2018
Area
Algeria            Total Population - Both sexes  42228.00
Algeria                 Domestic supply quantity      0.00
Algeria            Food supply (kcal/capita/day)   3322.00
Algeria   Protein supply quantity (g/capita/day)     91.83
Algeria       Fat supply quantity (g/capita/day)     77.28
...                                          ...       ...
Zimbabwe                                    Food     16.00
Zimbabwe     Food supply quantity (kg/capita/yr)      1.08
Zimbabwe           Food supply (kcal/capita/day)      1.00
Zimbabwe  Protein supply quantity (g/capita/day)      0.04
Zimbabwe      Fat supply quantity (g/capita/day)      0.01

[60943 rows x 2 columns]

In [19]:
data_algeria = data2.loc['Algeria']

In [20]:
data_algeria

                                        Element     Y2018
Area
Algeria           Total Population - Both sexes  42228.00
Algeria                Domestic supply quantity      0.00
Algeria           Food supply (kcal/capita/day)   3322.00
Algeria  Protein supply quantity (g/capita/day)     91.83
Algeria      Fat supply quantity (g/capita/day)     77.28
...                                         ...       ...
Algeria                                    Food     82.00
Algeria     Food supply quantity (kg/capita/yr)      1.93
Algeria           Food supply (kcal/capita/day)      2.00
Algeria  Protein supply quantity (g/capita/day)      0.06
Algeria      Fat supply quantity (g/capita/day)      0.03

[1313 rows x 2 columns]

In [21]:
data_algeria.groupby('Element').sum()

                                           Y2018
Element
Domestic supply quantity                90023.42
Export Quantity                           811.54
Fat supply quantity (g/capita/day)        309.09
Feed                                    10668.00
Food                                    63736.33
Food supply (kcal/capita/day)           13288.00
Food supply quantity (kg/capita/yr)      1509.28
Import Quantity                         36238.29
Losses                                   7708.00
Other uses (non-food)                    3970.08
Processing                               2479.00
Production                              60766.67
Protein supply quantity (g/capita/day)    367.28
Residuals                                 630.00
Seed                                      825.00
Stock Variation                          6172.00
Total Population - Both sexes           42228.00

In [22]:
data_unique = data1.Area.nunique()

In [23]:
data_unique

49